extends layout

block content
  h1 Bermudas
  
  .produtos-container
    each produto in produtos
      if produto.nome === 'Bermuda'
        .produto-card
          h2= produto.nome
          p.preco R$ #{produto.preco.toFixed(2)}
          button.btn-comprar Adicionar ao Carrinho